.IconLink{
    color: white;
    font-size: 100px;
    height:  10px;
    fill:  #333;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 0,75;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: "white",
  
    
   
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }
